/* Base Properties */
*{
	box-sizing: border-box;
	margin: 0;
  	padding: 0;
}

body{
	margin-left: 20px;
	margin-right: 20px; /*fixed mobile*/
	/*margin: 10px;*/
	/*align-content: center center;*/
}

h1{
	text-align: center;
	margin-top: 30px;
	margin-bottom: 25px;
}

#section1{
	width: 100%;  	
	border: 1px solid black;	
	margin-bottom: 25px;
/*	margin: 25px 10px;*/
	padding: 10px;	
	background-color: lightpink;
	position: relative;
}	
#section2{
	width: 100%;		
	border: 1px solid black;	
	margin-bottom: 25px;
/*	margin: 25px 10px;*/
	padding: 10px;
	background-color: lightpink;
	position: relative;
}	
#section3{
	width: 100%;	
	border: 1px solid black;	
	/*margin: 25px 10px;*/
	padding: 10px;
	background-color: lightpink;
	position: relative;
}

#section1Title{	
	background-color: yellow;
	border: 1px solid black;
	text-align: center;	
	position: absolute;
	top: -1px;
	right: -1px;
	width: 20%;
	font-family: sans-serif;
	font-weight: bold;
}
#section2Title{
	background-color: lightgreen;	
	border: 1px solid black;
	text-align: center;	
	position: absolute;
	top: -1px;
	right: -1px;
	width: 20%;
	font-family: sans-serif;
	font-weight: bold;
}
#section3Title{
	background-color: lightblue;
	border: 1px solid black;
	text-align: right;	
	text-align: center;	
	position: absolute;
	top: -1px;
	right: -1px;
	width: 20%;
	font-family: sans-serif;
	font-weight: bold;
}

@media (min-width: 992px){
  	#section1{
  		width: 30%;    		
  		float: left;
  		margin-right: 20px;
  		/*margin: 10px 10px 10px 25px;  */		
	}	
	#section2{
		width: 30%;
		float: left;  	
		margin-right: 20px;
		/*margin: 10px;	*/	
	}	
	#section3{
		width: 30%;
		float: left;  			
		/*margin: 10px 25px 10px 10px;*/
	}	
}

@media (min-width: 768px) and (max-width: 991px){
/*	body{
		margin-right: 20px;
		margin-left:20px;
	}*/
	#section1{
  		width: 50%;    		
  		float: left;  	
  		margin-right:0px;
  	/*	margin: 25px 10px;*/
	}	
	#section2{
		width: 50%;
		float: right;  
			/*	position: relative;
				left: 20;*/

		/*margin-right: 10px;*/
	/*	margin: 25px 10px;*/
	}	
	#section3{
		/*width: 97.9%;*/
		width: 100%;
		clear: left;	
		/*margin: 25px 25px 25px 10px;*/
	}	
}